<template>
  <b-container>
    <div>
      <b-card id="card">
        <b-card-header id="header">
          <b-card-title>ประกาศใหม่</b-card-title>
        </b-card-header>
        <p style="color: red">
          <font size="5">กรุณาอ่านข้อตกลงก่อนลงประกาศ</font>
        </p>
        <p>
          ชื่อตำแหน่ง และประเภทของงานต้องมีความสอดคล้องกัน
          เมื่อบันทึกข้อมูลเรียบร้อยแล้ว ทางเราขอเวลาในการตรวจสอบ
          ความน่าเชื่อถือของประกาศดังกล่าวเพื่อความถูกต้อง
          และปลอดภัยของคนใช้เว็บไซส์ของเรา
        </p>

        <b-card-body ref="b-form-group">
          <b-row class="my-1">
            <b-col sm="6">
              <b-form-group
                id="positionName"
                label="ตำแหน่ง: "
                label-align-sm="right"
                label-cols-sm="3"
                label-for="form-positionName"
              >
                <b-form-input
                  id="positionName"
                  size="md"
                  placeholder="ตำแหน่ง"
                  v-model="form.position.positionName"
                  required
                >
                </b-form-input>
              </b-form-group>
            </b-col>
            <b-col sm="6">
              <b-form-group
                id="workType"
                label="ประเภทงาน:"
                label-align-sm="right"
                label-cols-sm="3"
                label-for="่form-workType"
              >
                <b-form-select
                  id="workType"
                  v-model="form.position.workType"
                  :options="optionsworkType"
                  value-field="value"
                  text-field="text"
                  required
                >
                </b-form-select>
              </b-form-group>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="6">
              <b-form-group
                id="gender"
                label="เพศ: "
                label-for="form-gender"
                label-align-sm="right"
                label-cols-sm="3"
              >
                <b-form-select
                  v-model="form.position.gender"
                  :options="genderoptions"
                  value-field="value"
                  text-field="text"
                  size="md"
                  id="gender"
                  required
                >
                </b-form-select>
              </b-form-group>
            </b-col>
            <b-col sm="6">
              <div style="display: flex">
                <b-form-group
                  id="age"
                  label="อายุ(ปี): "
                  label-align-sm="right"
                  label-cols-sm="6"
                  label-for="form-positionName"
                >
                  <b-form-input
                    id="dateStrat"
                    v-model="lowerAge"
                    style="margin-left: -6px"
                  >
                  </b-form-input>
                </b-form-group>
                ระหว่าง
                <b-form-input
                  v-model="upperAge"
                  id="dateClose"
                  type="text"
                  style="width: 130px; heigth: 20px; margin-left: 10px"
                ></b-form-input>
              </div>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="6">
              <b-form-group
                id="rate"
                label="อัตรา: "
                label-for="form-rate"
                label-align-sm="right"
                label-cols-sm="3"
              >
                <b-form-input
                  id="rate"
                  size="md"
                  placeholder="อัตรา"
                  v-model="form.position.rate"
                  required
                >
                </b-form-input>
              </b-form-group>
            </b-col>

            <b-col sm="6">
              <b-form-group
                id="salary"
                label="เงินเดือน(บาท):"
                label-align-sm="right"
                label-cols-sm="3"
                label-for="form-salary"
              >
                <b-form-input
                  id="salary"
                  v-model="form.position.salary"
                  placeholder="เงินเดือน"
                  required
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>

          <div class="row">
            <b-col sm="10">
              <b-form-group
                id="timework"
                label="ระยะเวลา : "
                label-align-sm="lefth"
                label-cols-sm="2"
              >
                <div class="col" style="display: flex">
                  <b-form-radio
                    class="timeworkI"
                    id="datestart"
                    name="some-radios"
                    style="margin-right: 50px"
                    >กำหนดระยะเวลาการสมัคร</b-form-radio
                  >
                  <b-form-radio
                    class="timeworkII"
                    id="dateclose"
                    name="some-radios"
                    >ไม่กำหนดระยะเวลาการสมัคร</b-form-radio
                  >
                </div>
              </b-form-group>

              <div style="display: flex; margin-left: 150px">
                <b-form-input
                  id="time"
                  style="margin-right: 20px"
                  v-model="form.dateStart"
                  placeholder="YYYY-MM-DD"
                >
                </b-form-input>
                ถึง
                <b-form-input
                  id="age"
                  style="margin-left: 20px"
                  v-model="form.dateClose"
                  placeholder="YYYY-MM-DD"
                >
                </b-form-input>
              </div>
            </b-col>
          </div>

          <br />
          <b-row class="my-1">
            <b-col sm="2">
              <b-form-group
                id="detail"
                label="รายละเอียดงาน: "
                label-for="form.detail"
              >
              </b-form-group>
            </b-col>

            <b-col sm="2">
              <b-form-group>
                <textarea
                  v-model="form.position.detail"
                  name="text"
                  cols="121"
                  rows="5"
                  style="margin-left: -45px"
                ></textarea>
              </b-form-group>
            </b-col>
          </b-row>

          <b-row class="my-1">
            <b-col sm="2">
              <div id="property" style="display: flex; padding-top: 20px">
                <b-form-group
                  id="property"
                  label="คุณสมบัติ: "
                  label-for="form.property"
                >
                </b-form-group>
              </div>
            </b-col>
            <b-col sm="4">
              <div id="property" style="padding-top: 1px; margin-left: -52px">
                <label class="col-sm-2 col-form-label text-sm-right"> </label>
                <b-form-input
                  v-model="pro1"
                  class="forminput"
                  type="text"
                  placeholder="คุณสมบัติ"
                  style="width: 895px; heigth: 20px; margin-left: 10px"
                ></b-form-input>
                <br />
                <b-form-input
                  v-model="pro2"
                  class="forminput"
                  type="text"
                  placeholder="คุณสมบัติ"
                  style="width: 895px; heigth: 20px; margin-left: 10px"
                ></b-form-input>
                <br />
                <b-form-input
                  v-model="pro3"
                  class="forminput"
                  type="text"
                  placeholder="คุณสมบัติ"
                  style="width: 895px; heigth: 20px; margin-left: 10px"
                ></b-form-input>
                <br />
                <b-form-input
                  v-model="pro4"
                  class="forminput"
                  type="text"
                  placeholder="คุณสมบัติ"
                  style="width: 895px; heigth: 20px; margin-left: 10px"
                ></b-form-input>
                <br />
                <b-form-input
                  v-model="pro5"
                  class="forminput"
                  type="text"
                  placeholder="คุณสมบัติ"
                  style="width: 895px; heigth: 20px; margin-left: 10px"
                ></b-form-input>
              </div>
              <!-- </b-form-group> -->
            </b-col>
          </b-row>

          <br />

          <b-row class="my-1">
            <b-col sm="2">
              <b-form-group
                id="note"
                label="หมายเหตุเพิ่มเติม: "
                label-for="form.note"
              >
              </b-form-group>
            </b-col>

            <b-col sm="10">
              <b-form-group>
                <textarea
                  v-model="form.position.note"
                  name="text"
                  cols="121"
                  rows="5"
                  style="margin-left: -42px"
                ></textarea>
              </b-form-group>
            </b-col>
          </b-row>
          <div class="text-center mt-4" style="width: 1820px;">
            <button
              class="btn btn-danger"
              style="margin-right: 20px;"
              type="submit"
              @click="resetModal()"
            >
              ยกเลิกข้อมูล
            </button>
            <button
              class="btn btn-success"
              type="submit"
              @click="addnewAddnotice()"
            >
              บันทึกข้อมูล
            </button>
          </div>
        </b-card-body>
      </b-card>
    </div>
  </b-container>
</template>
<script>
import axios from 'axios'
// import declareService from '../Service/declarList.js'
export default {
  data () {
    return {
      declareList: [],
      // Addnotice: [],
      form: {
        id: -1,
        companyId: 1,
        dateStart: '',
        dateClose: '',
        statusDeclare: 'success',
        position: {
          positionName: '',
          workType: null,
          gender: 'A',
          age: '',
          rate: '',
          salary: 0,
          detail: '',
          property: [],
          note: ''
        }
      },
      lowerAge: '',
      upperAge: '',
      pro1: '',
      pro2: '',
      pro3: '',
      pro4: '',
      pro5: '',
      optionsworkType: [
        { value: null, text: '--กรุณาเลือกประเภทงาน--' },
        {
          value: 'ธุรกิจการกระดาษ/เครื่องเขียน',
          text: 'ธุรกิจการกระดาษ/เครื่องเขียน'
        },
        { value: 'ธุรกิจการเกษตร', text: 'ธุรกิจการเกษตร' },
        { value: 'ธุรกิจการพิมพ์/สิ่งพิมพ์', text: 'ธุรกิจการพิมพ์/สิ่งพิมพ์' },
        { value: 'ธุรกิจเพื่อการศึกษา', text: 'ธุรกิจเพื่อการศึกษา' },
        { value: 'ธุรกิจขนส่ง', text: 'ธุรกิจขนส่ง' },
        { value: 'ธุรกิจคอมพิวเตอร์/IT', text: 'ธุรกิจคอมพิวเตอร์/IT' }
      ],
      genderSelected: 'P',
      genderoptions: [
        { value: 'A', text: '--กรุณาเลือกเพศ--' },
        { value: 'M', text: 'ผู้ชาย' },
        { value: 'F', text: 'ผู้หญิง' }
      ],
      Addnotice: [],
      fields: [
        'positionName',
        'workType',
        'gender',
        'age',
        'rate',
        'salary',
        'timework',
        'detail',
        'property',
        'Note'
      ]
    }
  },
  methods: {
    addnewAddnotice () {
      this.addAge()
      this.addPro()
      console.log('Add new')
      // declareService.addDeclare(this.form)
      // var all = declareService.getDeclares()
      // console.log(all)
      axios
        .post('http://127.0.0.1:3000/declare', this.form)
        .then(res => {
          console.log('add success')
          this.resetModal()
        })
        .catch(err => {
          console.log(err)
        })
      // this.$bvModal.show('modal-form-Addnotice')
    },
    addAge () {
      this.form.position.age = this.lowerAge + '-' + this.upperAge
      console.log('age : ', this.form.position.age)
    },
    addPro () {
      if (this.pro1 !== '') {
        this.form.position.property.push({ datail: this.pro1 })
      }
      if (this.pro2 !== '') {
        this.form.position.property.push({ datail: this.pro2 })
      }
      if (this.pro3 !== '') {
        this.form.position.property.push({ datail: this.pro3 })
      }
      if (this.pro4 !== '') {
        this.form.position.property.push({ datail: this.pro4 })
      }
      if (this.pro5 !== '') {
        this.form.position.property.push({ datail: this.pro5 })
      }
    },
    resetModal () {
      this.resetValue()
      this.form = {
        id: -1,
        companyId: 1,
        dateStart: '',
        dateClose: '',
        statusDeclare: 'success',
        position: {
          positionName: '',
          workType: null,
          gender: 'A',
          age: '',
          rate: '',
          salary: 0,
          detail: '',
          property: [],
          note: ''
        }
      }
    },
    resetValue () {
      this.lowerAge = ''
      this.upperAge = ''
      this.pro1 = ''
      this.pro2 = ''
      this.pro3 = ''
      this.pro4 = ''
      this.pro5 = ''
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // alert ("Form submitted!")
      if (
        this.statePositionName === false ||
        this.stateWorkType === false ||
        this.stateGender === false ||
        this.stateAge === false ||
        this.stateRate === false ||
        this.stateSalary === false ||
        this.stateTimework === false ||
        this.stateDetail === false ||
        this.stateProperty === false ||
        this.stateNote === false
      ) {
        return
      }
      this.adduser(this.declareList)

      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-addnotice')
      })
    },
    adduser (declareList) {
      this.declareList.push(declareList)
    }
  },
  mounted () {
    console.log('Vue is add declare page')
  }
}
</script>
<style>
.form form {
  width: 450px;
  margin-right: 30px;
}
#header {
  text-align: center;
  margin-top: -19px;
  width: 1110px;
  margin-left: -20px;
}
#card {
  margin-top: 40px;
}
#btnregister {
  width: 440px;
  margin-top: -280px;
}
/* #correct {
  margin-left: 200px;
} */
#no {
  margin-left: 800px;
}
#property {
  border-block-color: black 2px;
}
</style>
