<template>
  <!-- declare -->
  <b-col id="declare" fluid>
    <!-- row last posting -->
    <b-row>
      <b-form-input
        size="sm"
        class="mr-sm-2"
        placeholder="ค้นหาตำแหน่ง"
        id="inputSearch"
      ></b-form-input>
      <b-button
        id="btnSearch"
        variant="info"
        size="sm"
        class="my-2 my-sm-0"
        type="submit"
        >ค้นหา</b-button
      >
      <router-link to="/Addnotice">
        <b-button
          variant="success"
          size="sm"
          class="my-2 my-sm-0"
          id="AddDeclare"
          >เพิ่มประกาศ
        </b-button></router-link
      >
      <h6>ประกาศล่าสุด</h6>
      <!-- loop declares -->
      <b-row id="rowDeclare">
        <div
          v-for="declare in declareList"
          :key="declare.id"
          id="postingDeclares"
        >
          <b-col cols="7" id="declareOne">
            <b-card>
              <b-row>
                <!-- img -->
                <b-col cols="4" id="setBoderMini"
                  ><b-card-img
                    src="https://www.nicepng.com/png/full/192-1921815_-corgi-cartoon-face.png"
                  ></b-card-img
                ></b-col>
                <!-- detail -->
                <b-col id="dataDetail">
                  <b-row>
                    <b-col cols="3"><b-img src=""></b-img></b-col>
                    <b-col
                      ><b> {{ declare.position.positionName }}</b></b-col
                    >
                  </b-row>
                  <b-row>ประเภทงาน : {{ declare.position.workType }}</b-row>
                  <b-row>
                    <b-col cols="4" id="setCol"
                      >เพศ : {{ declare.position.gender }}</b-col
                    >
                    <b-col id="setCol"
                      >อายุ :
                      {{ declare.position.age }}
                      ปี</b-col
                    >
                  </b-row>
                  <b-row
                    ><b-col cols="4" id="setCol"
                      >อัตรา : {{ declare.position.rate }}</b-col
                    >
                    <b-col id="setCol"
                      >เงินเดือน :
                      {{ declare.position.salary }}
                      บาท</b-col
                    ></b-row
                  >
                  <b-row>ลงวันที่ {{ declare.dateStart }}</b-row>
                </b-col>
              </b-row>
              <b-row id="btnDetail"
                ><router-link
                  :to="{ name: 'DetailDeclare', params: { id: declare._id } }"
                  ><b-button variant="info"
                    >ดูข้อมูลเพิ่มเติม</b-button
                  ></router-link
                ></b-row
              >
            </b-card>
          </b-col>
        </div>
      </b-row>
    </b-row>
    <!-- row top form -->
  </b-col>
</template>
<style>
#dataCompany {
  margin-top: 20px;
}
h6 {
  border-bottom: solid rgb(185, 185, 185) 5px;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 10px;
}
#dataDetail {
  font-size: 12px;
}
#declareOne {
  padding: 2px;
}
#btnDetail {
  display: flex;
  justify-content: flex-end;
}
#postingDeclares {
  display: block;
  width: 33%;
}
img.card-img {
  width: 60%;
}
.btn-info {
  line-height: 20px;
}
#inputSearch {
  width: 350px;
  height: 35px;
  margin-bottom: 10px;
}
#btnSearch {
  width: 120px;
  height: 35px;
}
#AddDeclare {
  width: 150px;
  height: 35px;
  margin-left: 50%;
}
#declareOne.col-7 {
  max-width: none;
}
#rowDeclare {
  margin: 5px;
  width: 100%;
}
#setBoderMini {
  border: solid gray 2px;
  background-color: rgb(233, 233, 233);
  width: 60%;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
</style>
<script>
// import Declare from '../Service/declarList'
// import currentCompany from '../Service/company'
import axios from 'axios'
export default {
  data () {
    return {
      declareList: []
    }
  },
  methods: {
    getDaclare () {
      // var company = currentCompany.getcompany(1)
      // this.declareList = Declare.getDeclareList(company)
      // console.log(this.declareList)
      axios.get('http://127.0.0.1:3000/declare/1').then(res => {
        console.log(res.data)
        this.declareList = res.data
      })
    }
  },
  mounted () {
    console.log('Vue is all declares page')
    this.getDaclare()
  }
}
</script>
