.form form {
  width: 450px;
  margin-right: 30px;
}
#header {
  text-align: center;
  margin-top: -20px;
  margin-left: -22px;
  width: 1111px;
}
#card {
  margin-top: 40px;
}
#btnregister {
  width: 440px;
  margin-top: -420px;
}
#correct {
  margin-left: 200px;
}
#regitsuc {
  text-align: center;
}
#areabtn {
  margin-left: 80px;
}
.radio {
  margin-top: 7px;
}
#m_Weight,
#m_Height {
  width: 80%;
  /* text-align: center; */
  margin-inline-start: 12px;
}
.kg,
.cm {
  margin-left: -150px;
  margin-top: 7px;
  /* margin-left: 270px;
  margin-top: -28px;
  margin-right: -10px; */
}

#login {
  text-align: center;
  margin-left: 100px;
}
.login {
  display: flex;
  justify-content: center;
  margin-top: -170px;
}
.Image {
  display: flex;
  justify-content: center;
  margin-left: 100px;
}
.btnImage {
  display: flex;
  justify-content: center;
  margin-left: 100px;
}