.position{
  margin-top: 50px;
}
.btn{
  margin-left: 100px;
  text-align: center;
}
.btn p{
  text-align: center;
}
.btn button{
  width: 100px;
}
.cancle{
  margin-left: 170px;
}
.btncancle button{
  width: 400px;
  padding: 12px;
}
.btncancle{
  margin-left: 100px;
  margin-top: 5px;
}
.Image{
  display: flex;
  justify-content: center;
  margin-left: 100px;
}
.btnImage{
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
#can{
  margin-left: 200px;
}
.card{
  margin-top: -20px;
  margin-bottom: 10px;
}