.btn.btn-primary.UploadPDF {
  height: 40px;
  padding: 10px;
}
#Submitskills {
  width: 150px;
  height: 45px;
  margin: 10px;
}
#writerTH {
  width: 200px;
  margin-right: 10px;
  margin-left: 10px;
}
#writerEng {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
#inputfrmskills {
  width: 425px;
  height: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 10px;
  border: 1px solid #ced4da;
}
.forminputAll {
  width: 260px;
  height: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 5px;
  border: 1px solid #ced4da;
}
#fipskills {
  width: 315px;
}
#blockPandDSkill {
  margin-right: 10px;
}
#textarea {
  width: 535px;
}
#fipwork {
  width: 535px;
}
#historywork {
  margin-left: 9.5%;
}
#Selectime {
  width: 18%;
  margin-left: 10px;
}
#hisEducation {
  display: flex;
  margin: 10px;
}
#formYearEdu {
  width: 167.22222px;
}
#formwork {
  display: flex;
}
#bloclPandD {
  display: flex;
}
#typeProvince {
  width: 150px;
  margin-right: 10px;
}
#typeDistrict {
  width: 141px;
}
.timeworkI {
  margin-left: 20px;
  margin-right: 20px;
}
div.container.history {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  padding: 15;
}
button {
  border: 0;
  text-align: left;
  font-size: 20px;
  height: 75px;
}
ul.History {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
}

li.LiHistory button {
  color: #000;
  padding: 8px 0 8px 16px;
  width: 300px;
}
/* Change the link color on hover */
li button:hover {
  background-color: #555;
  color: white;
}
div.card-block {
  padding: 15px;
  display: flex;
  justify-content: space-around;
}
p.card-text {
  font-size: 20px;
  margin-bottom: 0px;
  padding-right: 15px;
}
div.card.form {
  margin-top: 10px;
  margin-bottom: 10px;
}
h5.card-title.form {
  text-align: center;
  color: #f1f1f1;
  background-color: gray;
  padding: 10px;
}
div.formformat {
  margin: 10px;
}
label.form {
  margin-top: 10px;
  margin-bottom: 10px;
}
.forminput {
  width: 331px;
}
input.forminputW {
  width: 260px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #ced4da;
}
input.forminputH {
  width: 260px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 3px;
  border: 1px solid #ced4da;
}
#Submittypework {
  margin: 10px;
  padding: 10px;
}
#btnSubmittypework {
  display: flex;
  justify-content: flex-end;
}
#typework {
  width: 300px;
}
#typeEducation {
  width: 300px;
}
#InputMonney {
  width: 300px;
}
#fipEducation {
  width: 530px;
}
select#select {
  margin: 0px;
}
label.gender {
  margin-left: 15px;
}
div.Buttonbtn {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 75px;
}
button.btn.btn-success {
  width: 112px;
  height: 10%;
  padding: 5px;
}
button.btn.btn-danger {
  width: 112px;
  height: 10%;
  padding: 5px;
  margin-left: 10px;
}
button.btn.btn-danger.Member {
  width: 97%;
  height: 10%;
  padding: 5px;
  margin: 0px;
}
div.btnImage {
  justify-content: center;
  display: flex;
}
div.Image {
  justify-content: center;
  display: flex;
}
button.btn.btn-info.image {
  width: 45%;
  height: 10%;
  padding: 5px;
}
button.btn.btn-warning {
  width: 15%;
  height: 10%;
  font-size: 15px;
  color: white;
}
.ImagePerson {
  width: 90px;
  height: 100px;
  border: solid 1px;
  margin: 10px;
  padding: 5px;
}
#blockSelect1 {
  width: 332px;
}
