.ImagePerson{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-left: -50px;
}
.Img{
  display: flex;
  justify-content: center;
}
#header{
  font-size: 28px;
}
#character, #education, #history {
  width: 650px;
}
#position, #type, #pattern, #area, #startDate, #salary,
#name, #gender, #nationality, #birthday, #height, #weight,
#religion,#age, #status, #level, #nameEducation, #educational,
#majer, #gade, #address, #subdistrict, #district, #postCode,
#tel, #email, #province {
  color:cornflowerblue;
}
#profile{
  margin-left: -70px;
  margin-top: -50px;
}
#contact{
  width: 627px;
  margin-left: -70px;
}
#portfolio{
  width: 1275px;
  margin-left: -70px;
}
.cancel{
  margin-bottom: 10px;
  margin-left: -55px;
}
.edit{
  float: right;
}
.apply{
  float: right;
  padding: 0%;
}
.btnedit{
  margin-left: 110px;
  margin-right: -50px;
}
.btnapply{
  margin-right: -80px;
}
.cancel button{
  width: 300px;
  padding: 20px;
}
.apply button{
  width: 300px;
  padding: 20px;
}