<template>
  <div class="container" id="mainapplicant">
    <div class="row">
      <div class="col" id="bodyApplicant">
        <h4>ข้อมูลส่วนตัว</h4>
        <div class="card">
          <div class="card-body">
            <div class="img">
              <b-card-img
                class="ImageMApplicant"
                src="https://www.nicepng.com/png/full/192-1921815_-corgi-cartoon-face.png"
              ></b-card-img>
            </div>
            <div class="row">
              <div class="col-10" id="detailbody">
                <p class="textMain">ชื่อ : {{ mapplicants.m_Firstname }}</p>
                <p class="textMain">นามสกุล : {{ mapplicants.m_Lastname }}</p>
                <p class="textMain">
                  ที่อยู่ : บ้านเลขที่ {{ mapplicants.m_Address.m_Number }} ถนน
                  {{ mapplicants.m_Address.m_Lane }} ต.{{
                    mapplicants.m_Address.m_District
                  }}
                  จ.{{ mapplicants.m_Address.m_Province }} รหัสไปรษณีย์
                  {{ mapplicants.m_Address.m_PostalCode }}
                </p>
                <p class="textMain">
                  วัน/เดือน/ปีเกิด : {{ mapplicants.m_Birthdate }}
                </p>
                <p class="textMain">E-mail : {{ mapplicants.m_Email }}</p>
                <p class="textMain">เพศ : {{ mapplicants.m_Gender }}</p>
                <p class="textMain">นํ้าหนัก : {{ mapplicants.m_Weight }}</p>
                <p class="textMain">ส่วนสูง : {{ mapplicants.m_Height }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <h5>ข้อมูลการสัมภาษณ์</h5>
        <div>
          <b-card id="bodyblockMApplicantI">
            <div class="row">
              <div class="col">
                <p>0</p>
                <p>การส่งข้อมูล Resume</p>
              </div>
              <div class="col">
                <p>0</p>
                <p>การนัดสัมภาษณ์</p>
              </div>
              <div class="col">
                <p>0</p>
                <p>ผ่าน</p>
              </div>
            </div>
          </b-card>
        </div>
        <h5 style="margin-top: 10px">ข้อมูลที่คุณสนใจ</h5>
        <div>
          <b-card id="bodyblockMApplicantII">
            <div class="row">
              <div class="col">
                <p>0</p>
                <p>ผู้ประกอบการดูประวัติ</p>
              </div>
              <div class="col">
                <p>0</p>
                <p>จำนวนงานที่เปิดรับสมัคร</p>
              </div>
              <div class="col">
                <p>0</p>
                <p>ประวัติการสมัครงาน</p>
              </div>
            </div>
          </b-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Applicants from '../Service/Applicants'
import axios from 'axios'
export default {
  data () {
    return {
      mapplicants: []
      // Applicants.applicantList[0]
    }
  },
  methods: {
    getApplicant () {
      axios
        .get('http://127.0.0.1:3000/applicant/605aeb5cc9e13e308c147831')
        .then(res => {
          console.log(res.data)
          this.mapplicants = res.data
        })
        .catch(err => {
          console.log(err)
        })
      // this.mapplicants = Applicants.applicantList[0]
    }
  },
  mounted () {
    this.getApplicant()
    console.log(this.mapplicants)
  }
}
</script>

<style>
@import '../css/Homeapplicant.css';
</style>
