<template>
  <b-container fluid>
    <br>
    <b-card header="ประกาศผล" class="text-center h3">
      <b-card-body >
        <table class="table table-bordered h6">
          <thead style="background-color: #BEBEBE">
            <tr>
              <th>ลำดับ</th>
              <th>ตำแหน่ง</th>
              <th>บริษัท</th>
              <th>วันที่ส่งใบสมัคร</th>
               <th>สถานะ</th>
              <th>รายละเอียด</th>
            </tr>
          </thead>
          <tbody style="background-color: #BEBEBE;">
            <tr>
              <td>1</td>
              <td>พนักงานบัญชี</td>
              <td>Summey Company</td>
              <td>24/03/2564</td>
              <td>รอพิจาราณา
              </td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </b-card-body>
    </b-card>
  </b-container>
</template>
